POSTGRES_USER="username"
POSTGRES_PASSWORD="password"
POSTGRES_PORT_HOST=5432
POSTGRES_PORT_CONTAINER=5432
POSTGRES_DB="DevBits"

POSTGRES_DB_CONNECTION_STRING="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT_HOST}/${POSTGRES_DB}"

# FACEBOOK_CLIENT_ID="FB_CLIENT_ID"
# FACEBOOK_CLIENT_SECRET="FB_CLIENT_SECRET"

GOOGLE_CLIENT_ID="GOOGLE CLIENT ID"
GOOGLE_CLIENT_SECRET="GOOGLE CLIENT SECRET"

JWT_SECRET="..."